body{
    background-image: url('../images/bg1book.jpeg');
    background-size: cover;
    
  }

.navbar{
    background: rgb(243, 213, 131);
    opacity: .75;
    
    width:100%;
    height:10%;
}

.addbook{
    margin-top: 100px;
    width: 550px;
    background:rgb(37, 104, 7);
    color: white;
}
  
  .card
  {
      
        width: 700px;
       height:550px;
      margin-top: 100px;
      background:rgb(243, 213, 131);
      opacity: .75;
      color: white;
  
  
  }



footer{
    
    color: white;
    background:rgb(115, 221, 179);
    opacity:.75 !important;
    
}

a{
    color: white;
    text-decoration: none !important;
}

a:hover{
    color: white;
}
