body{
    background-image: url('../images/bg1book.jpeg');
    background-size: cover;
    
  }

  .navbar{
    background:rgb(243, 213, 131);
    opacity: .75;
    width:100%; 
    height: 10%;   
}
@media screen and (max-width: 44em){
    #basicExampleNav[navbar-collapse]
       
.navbar-brand{
    color: white;
}
}

  
  .card
  {
      
        width: 700px;
    height:550px;
      margin-top: 100px;
      background: rgb(10, 65, 28);
      opacity: .75;
      color: white;
  
  
  }



footer{
    
    color:black;
    background: rgb(115, 221, 179);
    opacity:.75 !important;
    
}

a{
    color: black;
    text-decoration: none !important;
}

a:hover{
    color: white;
}
